.content #bg {
    grid-area: left;

    background: url('/assets/illustration.svg') no-repeat top/contain;
    background-position-x: -7rem;
}

.content main {
    grid-area: right;

    display: flex;
    align-items: center;
    margin-top: -5rem;
}

.content main .container {
    width: min(36.3rem, 100%);
}

.content main .container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;

    color: var(--dark-blue);

    margin-bottom: clamp(20px, 5vw, 2.8rem);
}

/* INPUT AND BUTTONS */

.content main .container input {
    width: 36.3rem;
    padding: 1.6rem;
    margin-bottom: 2.5rem;

    border: .2rem solid var(--grey-blue);
}

.content main .container .separator {
    margin-top: 2.5rem;
}

.content main .container button {
    width: 36.3rem;
}

/* SEPARATOR LINES */

.separators {
    display: flex;
    align-items: center;

    margin: 2.3rem 0 1.5rem;
}

.separators div:nth-child(1),
.separators div:nth-child(3) {
    background: var(--grey-blue);
    width: 100%;
    height: 1px;
}

.separators div:nth-child(2) {
    color: var(--grey-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    padding: 1.35rem;
    line-height: 0;
}

/* Balls details */
.content #bg .ball {
    background: var(--blue);

    position: fixed;
    width: 21.2rem;
    height: 21.2rem;

    clip-path: circle(50% at 50% 50%);
    
}

.content #bg .ball.top {
    top: -61%;
    left: 85%;
    width: 63.3rem;
    height: 63.3rem;
    opacity: 0.1;
}

.content #bg .ball.bottom {
    top: 90%;
    bottom: 0;
    left: 80%;
    opacity: 0.1;
}

