* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html {
    --gradient-blue: linear-gradient(195.96deg, #5498FF -122.01%, #428EFF -8.36%, #297FFF 98.4%);
    --blue: #3485FF;
    --light-blue: #E0ECFF;
    --dark-blue: #0D114F;
    
    --white: #FAFAFA;
    --pink: #E83F5B;

    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-light: #E5EAF1;
    --grey-medium: #e1e3e9;
    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;

    --hover-blue: #5699FF;
    --hover-red: #EA4B65;
    --hover-grey: #8794A7;

    font-size: 62.5%; /* 10px */
}

/* ----- BODY, HEADER AND CONTENT ------ */

body{
    display: flex;
    height: 100vh;
    background: var(--background);
}

body, button, input, textarea {
    font-size: clamp(14px, 1.6rem, 2vw);

    font-family: 'Open Sans', sans-serif;
}

input:focus {
    outline: none;
    border: none;
}

.content{
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 57% 40%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas: 
    'header header'
    'left right'
}

.content header {
    grid-area: header;
    width: 80%;
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;
}

.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


/* ----- BUTTONS AND INPUTS */

input, button, .button, .buttons {
    border-radius: 1rem;
    height: 5rem;
}

/* ------ Input arrows/apearence reset ------ */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button, .button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue);
    color:var(--white);

    transition: filter .3s;

    cursor: pointer;
}

button:hover, .button:hover {
    background: var(--hover-blue);
    filter: brightness(1.2);
}

button > img, 
.button > img {
    margin-right: 1rem;
    width: 2rem;
}

button.outlined, .button.outlined {
    background: var(--white);
    color: var(--blue);
    border: .2rem solid var(--blue);
}

.button.red, .button.red {
    background-color: var(--pink);
    color: var(--white);
}

button.grey, .button.grey {
    background: var(--grey-light);
    color: var(--grey-dark);
}

