.content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;

    grid-template-areas: 
    'header header'
    'left right'
}

.content header {
    grid-area: header;
}

.content #bg {
    grid-area: left;

    background: url('/assets/illustration.svg') no-repeat top/contain;
}

.content main {
    grid-area: right;

    display: flex;
    align-items: center;
}

.content main .container {
    width: min(36.3rem 100%);
}

.content main .container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;

    color: var(--dark-blue);

    margin-bottom: clamp(20px, 5vw, 2.8rem);
}

/* INPUT AND BUTTONS */

.content main .container input {
    width: 36.3rem;
    padding: 1.6rem;
    margin-bottom: 2.5rem;

    border: 2px solid var(--grey-blue);
}

.content main .container button, .button {
    width: 36.3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue);
    color: var(--white);

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 0;

    cursor: pointer;
}

button:hover, .button:hover {
    background: var(--hover-blue);
    filter: brightness(1.2);
}

.content main .container button > img,
.button > img {
    margin-right: 1rem;
    width: 2rem;
}

.content main .container .button {
    background: var(--white);
    border: 2px solid var(--blue);
    color: var(--blue);
}

.content main .container .separator {
    margin-top: 2.5rem;

}

.content header {
    width: 80%;
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;
}