* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --gradient-blue: linear-gradient(195.96deg, #5498FF -122.01%, #428EFF -8.36%, #297FFF 98.4%);
    --blue: #3485FF;
    --light-blue: #E0ECFF;
    --dark-blue: #0D114F;
    
    --white: #FAFAFA;
    --pink: #E83F5B;

    --background: #FBFCFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-light: #E5EAF1;
    --grey-medium: #D3D9E2;
    --grey-dark: #4D5E77;
    --grey-blue: #5699FF;

    --hover-blue: #5699FF;
    --hover-red: #EA4B65;
    --hover-grey: #8794A7;

    font-size: 62.5%;
}

body {
    height: 100vh;
    background: var(--background);
}

body, button, input, textarea {
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family: 'Open Sans', sans-serif;
}

.content {
    width: 100%;
    margin: 0 auto; 
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }