#room {
    max-width: min(112rem, 85%);
    /* max-width: 85%; */
}

#room header {
     width: 100%;
     display: flex;

     align-items: center;
     justify-content: space-between;
}

/* ------ BUTTONS ------ */

#room header .buttons {
     display: flex;
}

#room header .buttons .button:nth-child(1) {
    margin-right: .8rem;
    border: 2px solid var(--blue);

    padding: 1.3rem 1.6rem;
    text-align: center;

}

#room header .buttons .button:nth-child(2) {
    background: var(--blue);
    padding: 1.3rem 3rem;
}


#room header .buttons .button:nth-child(1) img {
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
}

#room header .buttons .button:nth-child(2) img {
    margin-right: 1rem;
    
    width: 2rem;
    height: 2rem;
}

/* ---------- FORM ---------- */

#question-form h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 2.8rem;

    margin-bottom: 2rem;

    color: var(--dark-blue);
}

#question-form form {
    width: 108rem;

    padding: 1.6rem;
    margin-bottom: 1.6rem;

    border: .2rem solid var(--grey-blue);
    border-radius: 0 .8rem .8rem;
}

#question-form form textarea {
    width: 100%;
    background: transparent;
 
    cursor:text;

    resize: none;
    outline: none;
}

#question-form form textarea::placeholder {
    color: var(--icons-details);
}

/* ------- FOOTER ------- */

#question-form footer {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

#question-form footer > div {
    display: flex;
    align-items: center;

    color: var(--icons-details);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;         
}

#question-form .footer > img {
    margin-right: 1.2rem;
}

#question-form footer button {
    height: auto;
    padding: .8rem 2.4rem;
    line-height: 2.4rem;
}

/* ------ QUESTIONS ------- */

#questions {
    margin-bottom: 3rem;
}

#questions .question-wrapper {
    background: var(--light-blue);
    margin-bottom: 1rem;

    border-radius: 0 .8rem .8rem;
    padding: 2.4rem;

    width: 108rem;
}

.question-wrapper .question-content {
    display: flex;
    align-items: flex-start;
}

.question-wrapper .question-content .user {
    background-color: var(--blue);
    clip-path: circle();

    padding: 1.4rem;
    margin-right: 1rem;
}

.question-wrapper .question-content p {
    word-break: break-word;

    display: flex;
    align-items: center;
    min-height: 5.2rem;
}

.question-wrapper .question-actions {
    display: flex;

    align-items: center;
    justify-content: flex-end;
}

.question-wrapper .question-actions > a {
    display: flex;
    align-items: center;

    margin-right: 1rem;
}

.question-wrapper .question-actions > a + a {
    margin-right: 0;
}

.question-wrapper .question-actions a > img {
    margin-right: 1rem
}

/* ------ Question Read ------ */

#questions .question-wrapper.read {
    background: var(--grey-medium);
}

#questions .question-wrapper.read .user {
    background: var(--grey-blue)
}

